.onGame-container {
    width:  100%;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onGame-container section.page-score{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 12px;
    align-items: center;
}
.CT, .TR {
    display: flex;
    align-items: center;
}
.onGame-container section.onGame-text {
    padding-inline-start: 10%;
    padding-inline-end: 10%;
    color: #5d79ae;
    
}
h1 {
    color: 	#5d79ae;
    text-align: center;
    font-size: 40px;
}
.ctScore, .trScore {
    font-size: 40px;
    margin: 30px;
    
}
.ctScore{
    color:#5d79ae;
}
.ctTeam, .trTeam{
    max-width: 30px;
    cursor: pointer;
}
input[type = 'radio']{
    opacity: 0;
}
.trScore{
    color: #ccba7c;
}
.ctCoin, .ctScore{
    align-items: flex-start;

}
.trCoin{
    max-width: 60px;
    margin: 12px;

}
.onGame-button{
    width: 50%;
    height: 45px;
    margin: 30px;
    background: #5d79ae;
    color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 6px;
    text-align: center;
}
.teams {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
}
.contentPage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5% 45px 0% 45px;
    border-style: solid;
    
}
.descriptions {
    font-size: 30px;
}
.teamData {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(250, 8, 8);
}
.onGame-form{
    border-width: 2px;
    border-color: rgb(255, 25, 25);
}
.onGame-form:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
    
input[type="radio"]:checked+label .ctTeam {
    border-style: solid;
    border-image-outset: 1px;
    border-width: 4px;
    border-radius: 50%;
    border-color: #5d79ae;
}
input[type="radio"]:checked+label .trTeam {
    border-style: solid;
    border-image-outset: 1px;
    border-width: 4px;
    border-radius: 50%;
    border-color: #ccba7c;
}